@theme {
  --color-primary-50: #FFFBEB;
  --color-primary-100: #FEF3C7;
  --color-primary-200: #FDE68A;
  --color-primary-300: #FCD34D;
  --color-primary-400: #FBBF24;
  --color-primary-500: #F59E0B;
  --color-primary-600: #D97706;
  --color-primary-700: #B45309;
  --color-primary-800: #92400E;
  --color-primary-900: #78350F;
  --color-primary-950: #451A03;
  --color-secondary-50: #EBF5FF;
  --color-secondary-100: #D0E3FF;
  --color-secondary-200: #A8CBFF;
  --color-secondary-300: #7AAEFF;
  --color-secondary-400: #4A8CFF;
  --color-secondary-500: #1E6CFF;
  --color-secondary-600: #1556CC;
  --color-secondary-700: #0F4099;
  --color-secondary-800: #092B66;
  --color-secondary-900: #041933;
  --color-secondary-950: #010B1A;
}
